<app-navbar></app-navbar>

<div class="max-w-3xl mx-auto p-4 sm:p-6">
  <!-- Stepper -->
  <div class="flex flex-wrap items-center justify-center gap-4 mb-6">
    <div
      *ngFor="let step of [1, 2, 3]; let i = index"
      class="flex items-center"
    >
      <!-- Número del Stepper -->
      <div
        class="relative flex items-center justify-center w-10 h-10 md:w-12 md:h-12 rounded-full text-white font-bold transition-all duration-300"
        [class.bg-blue-500]="isActive(step) || isCompleted(step)"
        [class.bg-gray-300]="!isActive(step) && !isCompleted(step)"
      >
        <span *ngIf="!isCompleted(step)">{{ step }}</span>
        <svg
          *ngIf="isCompleted(step)"
          class="w-5 h-5 md:w-6 md:h-6 text-white"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7"
          />
        </svg>
      </div>

      <!-- Línea entre los círculos -->
      <div
        *ngIf="i < 2"
        class="w-12 h-1 mx-2 bg-gray-300 transition-all duration-300"
        [class.bg-blue-500]="isCompleted(step)"
      ></div>
    </div>
  </div>

  <!-- Contenido de los pasos -->
  <div
    class="p-4 sm:p-6 md:p-8 rounded-lg transition-all duration-300 w-full bg-white shadow-md"
  >
    <!-- Paso 1 -->
    <div [hidden]="currentStep !== 1">
      <app-publications (formData)="handleFormData($event)"></app-publications>
      <div class="flex justify-end mt-6">
        <button
          (click)="nextStep()"
          [disabled]="!isStepValid()"
          class="px-6 py-2 rounded-lg text-white transition bg-blue-500 hover:bg-blue-600 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-50"
        >
          Siguiente
        </button>
      </div>
    </div>

    <!-- Paso 2 -->
    <div [hidden]="currentStep !== 2">
      <app-upload
        (imagesData)="handleImages($event, generatePreviews($event))"
        (previewData)="actualizarPreviews($event)"
      ></app-upload>
      <div class="flex flex-col sm:flex-row justify-between gap-4 mt-6">
        <button
          (click)="prevStep()"
          class="bg-gray-500 text-white px-6 py-2 rounded-lg"
        >
          Anterior
        </button>
        <button
          (click)="nextStep()"
          [disabled]="!isImageStepValid()"
          class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-lg disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-50"
        >
          Siguiente
        </button>
      </div>
    </div>

    <!-- Paso 3 -->
    <div [hidden]="currentStep !== 3">
      <app-preview [publication]="publicacionData"></app-preview>
      <div class="flex flex-col sm:flex-row justify-between gap-4 mt-6">
        <button
          (click)="prevStep()"
          class="bg-gray-500 text-white px-6 py-2 rounded-lg"
        >
          Anterior
        </button>
        <button
          (click)="publicar()"
          class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-lg flex items-center justify-center gap-2"
          [disabled]="loading"
        >
          <span
            *ngIf="loading"
            class="loader w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin"
          ></span>
          <span>{{ loading ? "Publicando..." : "Publicar" }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
