<div
  class="bg-gray-900 p-6 rounded-lg shadow-md w-full max-w-2xl mx-auto text-gray-200"
>
  <h2 class="text-2xl font-bold mb-4 text-white">Nueva Publicación</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Título -->
    <div>
      <label class="block font-semibold">Título</label>
      <input
        type="text"
        [(ngModel)]="publication.title"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
        required
      />
    </div>

    <!-- Dirección -->
    <div>
      <label class="block font-semibold">Dirección</label>
      <input
        type="text"
        [(ngModel)]="publication.address"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
        required
      />
    </div>

    <!-- Tipo de Local -->
    <div>
      <label class="block font-semibold">Tipo de Local</label>
      <select
        [(ngModel)]="publication.typeOfLocal"
        (change)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
      >
        <option value="">Selecciona</option>
        <option value="Casa">Casa</option>
        <option value="Departamento">Departamento</option>
        <option value="Terreno">Terreno</option>
      </select>
    </div>

    <!-- Tipo de Operación -->
    <div>
      <label class="block font-semibold">Tipo de Operación</label>
      <select
        [(ngModel)]="publication.typeOfOperation"
        (change)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
      >
        <option value="">Selecciona</option>
        <option value="Venta">Venta</option>
        <option value="Renta">Renta</option>
      </select>
    </div>

    <!-- Número de Habitaciones -->
    <div>
      <label class="block font-semibold">Habitaciones</label>
      <input
        type="number"
        [(ngModel)]="publication.numberOfRooms"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
      />
    </div>

    <!-- Número de Baños -->
    <div>
      <label class="block font-semibold">Baños</label>
      <input
        type="number"
        [(ngModel)]="publication.numberOfBathrooms"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
      />
    </div>

    <!-- Número de Medios Baños -->
    <div>
      <label class="block font-semibold">Medios Baños</label>
      <input
        type="number"
        [(ngModel)]="publication.numberOfHalfBathrooms"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
      />
    </div>

    <!-- Precio -->
    <div>
      <label class="block font-semibold">Precio ($)</label>
      <input
        type="text"
        mask="separator.0"
        thousandSeparator=","
        [(ngModel)]="publication.price"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
        required
      />
    </div>

    <!-- Tamaño Terreno -->
    <div>
      <label class="block font-semibold">Tamaño (<small>Terreno</small>)</label>
      <input
        type="number"
        [(ngModel)]="publication.size"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
      />
    </div>

    <!-- Tamaño de construccion -->
    <div>
      <label class="block font-semibold"
        >Tamaño (<small>construccion</small>)</label
      >
      <input
        type="number"
        [(ngModel)]="publication.buildSize"
        (input)="sendData()"
        class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full"
      />
    </div>
  </div>

  <!-- Descripción -->
  <div class="mt-4">
    <label class="block font-semibold">Descripción</label>
    <textarea
      [(ngModel)]="publication.description"
      (input)="sendData()"
      class="bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg w-full h-24"
      required
    ></textarea>
  </div>
</div>
